{% extends "layout_main.html" %}

{% block title %}
Blog VBDPUP login | Blog login page
{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div id="content-wrapper" style="margin-top: 50px;">

    <div class="container">
        <h1>{{ _('Sign In') }}</h1>

        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}

                <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
                <br>
                <p>
                    {{ _('Forgot Your Password?') }}
                    <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
                </p>
            </div>

        </div>
    </div>

</div>
{% endblock %}
