{% extends "layout_main.html" %}

{% block title %}
Main page photographer VB| Main Page
{% endblock %}

{% block content %}

<section class="no-margin" id="main-slider">
 <div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
   <div class="item active">
    <div class="container">
     <div class="row">
      <div class="col-sm-12">
       <div class="carousel-content center centered" style="padding-top: 73px;">
        <span class="home-icon pe-7s-gleam bounce-in no-display animated bounceIn appear">
        </span>
        <h2 class="boxed animation animated-item-1 fade-down no-display animated fadeInDown appear">
         ФОТОГРАФ ВИКТОРИЯ
        </h2>
        <p class="boxed animation animated-item-2 fade-up no-display animated fadeInUp appear">
         ПРОВЕРКА СВЯЗИ ПРИИИЕМММ, ПРИИИЕММ !!!
        </p>
        <br/>
        <a class="btn btn-md animation bounce-in no-display animated bounceIn appear" href="#services">
         Learn More
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!--/.item-->
  </div>
  <!--/.carousel-inner-->
 </div>
 <!--/.carousel-->
</section>
<!--/#main-slider-->
<div id="content-wrapper" style="margin-bottom: 375px;">
 <section class="white" id="services">
  <div class="container">
   <div class="gap">
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="center gap fade-down section-heading no-display">
      <h2 class="main-title">
       УСЛУГИ
      </h2>
      <hr/>
      <p>
       Of an or game gate west face shed. ﻿no great but music too old found arose.
      </p>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-4 col-sm-6">
     <div class="service-block">
      <div class="pull-left bounce-in no-display">
       <i class="fa fa-camera fa fa-md">
       </i>
      </div>
      <div class="media-body fade-up no-display">
       <h3 class="media-heading">
        Photography
       </h3>
       <p>
        Nay middleton him admitting consulted and behaviour son household. Recurred advanced he oh together entrance speedily suitable. Ready tried gay state fat could boy its among shall.
       </p>
      </div>
     </div>
    </div>
    <!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
     <div class="service-block">
      <div class="pull-left bounce-in no-display">
       <i class="fa fa-thumbs-o-up fa fa-md">
       </i>
      </div>
      <div class="media-body fade-up no-display">
       <h3 class="media-heading">
        Marketing
       </h3>
       <p>
        Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved.
       </p>
      </div>
     </div>
    </div>
    <!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
     <div class="service-block">
      <div class="pull-left bounce-in no-display">
       <i class="fa fa-ticket fa fa-md">
       </i>
      </div>
      <div class="media-body fade-up no-display">
       <h3 class="media-heading">
        Event Management
       </h3>
       <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
       </p>
      </div>
     </div>
    </div>
    <!--/.col-md-4-->
   </div>
   <!--/.row-->
   <div class="gap">
   </div>
   <div class="row">
    <div class="col-md-4 col-sm-6">
     <div class="service-block">
      <div class="pull-left bounce-in no-display">
       <i class="fa fa-star fa fa-md">
       </i>
      </div>
      <div class="media-body fade-up no-display">
       <h3 class="media-heading">
        Star Gazing
       </h3>
       <p>
        Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its
       </p>
      </div>
     </div>
    </div>
    <!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
     <div class="service-block">
      <div class="pull-left bounce-in no-display">
       <i class="fa fa-cogs fa fa-md">
       </i>
      </div>
      <div class="media-body fade-up no-display">
       <h3 class="media-heading">
        Software Support
       </h3>
       <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
       </p>
      </div>
     </div>
    </div>
    <!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
     <div class="service-block">
      <div class="pull-left bounce-in no-display">
       <i class="fa fa-google-plus fa fa-md">
       </i>
      </div>
      <div class="media-body fade-up no-display">
       <h3 class="media-heading">
        SEO Services
       </h3>
       <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
       </p>
      </div>
     </div>
    </div>
    <!--/.col-md-4-->
   </div>
   <!--/.row-->
  </div>
  <div class="gap">
  </div>
  <div class="gap">
  </div>
 </section>
 <section class="divider-section" id="single-quote">
  <div class="container">
   <div class="gap">
   </div>
   <div class="row">
    <div class="col-md-offset-2 col-md-8 fade-up no-display">
     <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      <div class="carousel-inner">
       <div class="item active">
        <blockquote>
         <div class="row">
          <div class="col-sm-3 text-center">
           <img class="img-responsive" src="images/team/team01.jpg" style="width: 100px;height:100px;"/>
          </div>
          <div class="col-sm-9">
           <p>
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
           </p>
           <small>
            Someone famous
           </small>
          </div>
         </div>
        </blockquote>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="gap">
   </div>
  </div>
 </section>
 <section class="white" id="about-us">
  <div class="container">
   <div class="gap">
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="center gap fade-down section-heading no-display">
      <h2 class="main-title">
       КРАТКО КТО МЫ
      </h2>
      <hr/>
      <p>
       Of an or game gate west face shed. ﻿no great but music too old found arose.
      </p>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-10 col-md-offset-1 fade-up no-display">
     <p>
      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
     </p>
     <p>
      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
     </p>
    </div>
    <div class="col-md-4 fade-up no-display">
    </div>
   </div>
   <div class="gap">
   </div>
   <div class="row fade-up no-display">
    <div class="col-md-6">
     <div class="testimonial-list-item">
      <img class="pull-left img-responsive quote-author-list" src="images/team/team01.jpg"/>
      <blockquote>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
       </p>
       <small>
        Manager at
        <cite title="Source Title">
         Company
        </cite>
       </small>
      </blockquote>
     </div>
     <div class="testimonial-list-item">
      <img class="pull-left img-responsive quote-author-list" src="images/team/team01.jpg"/>
      <blockquote>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
       </p>
       <small>
        Manager at
        <cite title="Source Title">
         Company
        </cite>
       </small>
      </blockquote>
     </div>
    </div>
    <div class="col-md-6">
     <div class="testimonial-list-item">
      <img class="pull-left img-responsive quote-author-list" src="images/team/team01.jpg"/>
      <blockquote>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
       </p>
       <small>
        Manager at
        <cite title="Source Title">
         Company
        </cite>
       </small>
      </blockquote>
     </div>
     <div class="testimonial-list-item">
      <img class="pull-left img-responsive quote-author-list" src="images/team/team01.jpg"/>
      <blockquote>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
       </p>
       <small>
        Manager at
        <cite title="Source Title">
         Company
        </cite>
       </small>
      </blockquote>
     </div>
    </div>
   </div>
   <div class="gap">
   </div>
   <div class="center gap fade-down section-heading no-display">
    <h2 class="main-title">
     Meet The Team
    </h2>
    <hr/>
    <p>
     Of an or game gate west face shed. ﻿no great but music too old found arose.
    </p>
   </div>
   <div class="gap">
   </div>
   <div class="row" id="meet-the-team">
    <div class="col-md-3 col-xs-6">
     <div class="center team-member">
      <div class="team-image">
       <img alt="" class="img-responsive img-thumbnail bounce-in no-display" src="images/team/team01.jpg"/>
       <div class="overlay">
        <a class="preview btn btn-outlined btn-primary" href="images/team/team01.jpg" rel="prettyPhoto">
         <i class="fa fa-eye">
         </i>
        </a>
       </div>
      </div>
      <div class="team-content fade-up no-display">
       <h5>
        Daniel Jones
        <small class="role muted">
         Web Design
        </small>
       </h5>
       <p>
        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
       </p>
       <a class="btn btn-social btn-facebook" href="#">
        <i class="fa fa-facebook">
        </i>
       </a>
       <a class="btn btn-social btn-google-plus" href="#">
        <i class="fa fa-google-plus">
        </i>
       </a>
       <a class="btn btn-social btn-twitter" href="#">
        <i class="fa fa-twitter">
        </i>
       </a>
       <a class="btn btn-social btn-linkedin" href="#">
        <i class="fa fa-linkedin">
        </i>
       </a>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-xs-6">
     <div class="center team-member">
      <div class="team-image">
       <img alt="" class="img-responsive img-thumbnail bounce-in no-display" src="images/team/team02.jpg"/>
       <div class="overlay">
        <a class="preview btn btn-outlined btn-primary" href="images/team/team02.jpg" rel="prettyPhoto">
         <i class="fa fa-eye">
         </i>
        </a>
       </div>
      </div>
      <div class="team-content fade-up no-display">
       <h5>
        John Smith
        <small class="role muted">
         Marketing Director
        </small>
       </h5>
       <p>
        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
       </p>
       <a class="btn btn-social btn-facebook" href="#">
        <i class="fa fa-facebook">
        </i>
       </a>
       <a class="btn btn-social btn-google-plus" href="#">
        <i class="fa fa-google-plus">
        </i>
       </a>
       <a class="btn btn-social btn-twitter" href="#">
        <i class="fa fa-twitter">
        </i>
       </a>
       <a class="btn btn-social btn-linkedin" href="#">
        <i class="fa fa-linkedin">
        </i>
       </a>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-xs-6">
     <div class="center team-member">
      <div class="team-image">
       <img alt="" class="img-responsive img-thumbnail bounce-in no-display" src="images/team/team03.jpg"/>
       <div class="overlay">
        <a class="preview btn btn-outlined btn-primary" href="images/team/team03.jpg" rel="prettyPhoto">
         <i class="fa fa-eye">
         </i>
        </a>
       </div>
      </div>
      <div class="team-content fade-up no-display">
       <h5>
        Dave Gorman
        <small class="role muted">
         Web Design
        </small>
       </h5>
       <p>
        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
       </p>
       <a class="btn btn-social btn-facebook" href="#">
        <i class="fa fa-facebook">
        </i>
       </a>
       <a class="btn btn-social btn-google-plus" href="#">
        <i class="fa fa-google-plus">
        </i>
       </a>
       <a class="btn btn-social btn-twitter" href="#">
        <i class="fa fa-twitter">
        </i>
       </a>
       <a class="btn btn-social btn-linkedin" href="#">
        <i class="fa fa-linkedin">
        </i>
       </a>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-xs-6">
     <div class="center team-member">
      <div class="team-image">
       <img alt="" class="img-responsive img-thumbnail bounce-in no-display" src="images/team/team04.jpg"/>
       <div class="overlay">
        <a class="preview btn btn-outlined btn-primary" href="images/team/team04.jpg" rel="prettyPhoto">
         <i class="fa fa-eye">
         </i>
        </a>
       </div>
      </div>
      <div class="team-content fade-up no-display">
       <h5>
        Steve Smith
        <small class="role muted">
         Sales Assistant
        </small>
       </h5>
       <p>
        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
       </p>
       <a class="btn btn-social btn-facebook" href="#">
        <i class="fa fa-facebook">
        </i>
       </a>
       <a class="btn btn-social btn-google-plus" href="#">
        <i class="fa fa-google-plus">
        </i>
       </a>
       <a class="btn btn-social btn-twitter" href="#">
        <i class="fa fa-twitter">
        </i>
       </a>
       <a class="btn btn-social btn-linkedin" href="#">
        <i class="fa fa-linkedin">
        </i>
       </a>
      </div>
     </div>
    </div>
   </div>
   <!--/#meet-the-team-->
   <div class="gap">
   </div>
   <div class="gap">
   </div>
  </div>
 </section>
 <section class="divider-section" id="stats">
  <div class="gap">
  </div>
  <div class="container">
   <div class="row">
    <div class="col-md-3 col-xs-6">
     <div class="center bounce-in no-display">
      <span class="stat-icon">
       <span class="pe-7s-timer bounce-in no-display">
       </span>
      </span>
      <h1>
       <span class="counter">
        246000
       </span>
      </h1>
      <h3>
       HOURS SAVED
      </h3>
     </div>
    </div>
    <div class="col-md-3 col-xs-6">
     <div class="center bounce-in no-display">
      <span class="stat-icon">
       <span class="pe-7s-light bounce-in no-display">
       </span>
      </span>
      <h1>
       <span class="counter">
        16875
       </span>
      </h1>
      <h3>
       FRESH IDEAS
      </h3>
     </div>
    </div>
    <div class="col-md-3 col-xs-6">
     <div class="center bounce-in no-display">
      <span class="stat-icon">
       <span class="pe-7s-graph1 bounce-in no-display">
       </span>
      </span>
      <h1>
       <span class="counter">
        99999999
       </span>
      </h1>
      <h3>
       HUGE PROFIT
      </h3>
     </div>
    </div>
    <div class="col-md-3 col-xs-6">
     <div class="center bounce-in no-display">
      <span class="stat-icon">
       <span class="pe-7s-box2 bounce-in no-display">
       </span>
      </span>
      <h1>
       <span class="counter">
        54875
       </span>
      </h1>
      <h3>
       THINGS IN BOXES
      </h3>
     </div>
    </div>
   </div>
  </div>
  <div class="gap">
  </div>
 </section>
 <section class="grid white" id="portfolio">
  <div class="gap">
  </div>
  <div class="center gap fade-down section-heading no-display animated fadeInDown appear">
   <h2 class="main-title">
    Examples Of Excellence
   </h2>
   <hr/>
   <p>
    She evil face fine calm have now. Separate screened he outweigh of distance landlord.
   </p>
  </div>
  {% for a in  port_data %}
  <figure class="effect-portfolio wow fadeIn" data-wow-duration="{{a[5]}}">
   <!-- Portfolio {{counter}} -->
   {% set counter = a[6] %}
   <img alt="{{a[1]}}" src="static/vb/img/thumbnails/{{a[4]}}"/>
   <!-- Your image here -->
   <figcaption>
    <!-- Caption -->
    <h3>
     {{a[1]}}
    </h3>
    <p>
     {{a[2]}}
    </p>
    {% for item in range(1,counter+1) %}
    <a data-lightbox-gallery="{{a[4]}}" data-lightbox-hidpi="static/vb/img/portfolio/{{a[3]}}/{{item}}.jpg" href="static/vb/img/portfolio/{{a[3]}}/{{item}}.jpg" title="{{a[1]}}">
    </a>
    {% endfor %}
    <!-- Larger image popup -->
   </figcaption>
   <!-- End caption -->
  </figure>
  <!-- End portfolio {{counter}}-->
  {% endfor %}
 </section>
 <!-- End Portfolio Section -->
 <section class="divider-section" id="testimonial-carousel">
  <div class="gap">
  </div>
  <div class="container">
   <div class="row">
    <div class="center gap fade-down section-heading no-display">
     <h2 class="main-title">
      What They Have Been Saying
     </h2>
     <hr/>
     <p>
      Of an or game gate west face shed. ﻿no great but music too old found arose.
     </p>
     <div class="gap">
     </div>
    </div>
    <div class="col-md-offset-2 col-md-8 fade-up no-display">
     <div class="carousel slide" data-ride="carousel" id="">
      <!-- Bottom Carousel Indicators -->
      <ol class="carousel-indicators">
       <li class="" data-slide-to="0" data-target="#quote-carousel">
       </li>
       <li class="active" data-slide-to="1" data-target="#quote-carousel">
       </li>
       <li class="" data-slide-to="2" data-target="#quote-carousel">
       </li>
      </ol>
      <!-- Carousel Slides / Quotes -->
      <div class="carousel-inner">
       <!-- Quote 1 -->
       <div class="item">
        <blockquote>
         <div class="row">
          <div class="col-sm-3 text-center">
           <img class="img-responsive" src="images/team/team01.jpg" style="width: 100px;height:100px;"/>
          </div>
          <div class="col-sm-9">
           <p>
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
           </p>
           <small>
            Someone famous
           </small>
          </div>
         </div>
        </blockquote>
       </div>
       <!-- Quote 2 -->
       <div class="item active">
        <blockquote>
         <div class="row">
          <div class="col-sm-3 text-center">
           <img class="img-responsive" src="images/team/team02.jpg" style="width: 100px;height:100px;"/>
          </div>
          <div class="col-sm-9">
           <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
           </p>
           <small>
            Someone famous
           </small>
          </div>
         </div>
        </blockquote>
       </div>
       <!-- Quote 3 -->
       <div class="item">
        <blockquote>
         <div class="row">
          <div class="col-sm-3 text-center">
           <img class="img-responsive" src="images/team/team03.jpg" style="width: 100px;height:100px;"/>
          </div>
          <div class="col-sm-9">
           <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
           </p>
           <small>
            Someone famous
           </small>
          </div>
         </div>
        </blockquote>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="gap">
   </div>
  </div>
 </section>
 <section class="white" id="contact">
  <div class="container">
   <div class="gap">
   </div>
   <div class="center gap fade-down section-heading no-display">
    <h2 class="main-title">
     Get In Touch
    </h2>
    <hr/>
    <p>
     Of an or game gate west face shed. ﻿no great but music too old found arose.
    </p>
   </div>
   <div class="gap">
   </div>
   <div class="row">
    <div class="col-md-4 fade-up no-display">
     <h3>
      Contact Information
     </h3>
     <p>
      <span class="icon icon-home">
      </span>
      Time Square, New York
      <br/>
      <span class="icon icon-phone">
      </span>
      +36 65984 405
      <br/>
      <span class="icon icon-mobile">
      </span>
      +36 65984 405
      <br/>
      <span class="icon icon-envelop">
      </span>
      <a href="#">
       email@infinityteam.com
      </a>
      <br/>
      <span class="icon icon-twitter">
      </span>
      <a href="#">
       @infinityteam.com
      </a>
      <br/>
      <span class="icon icon-facebook">
      </span>
      <a href="#">
       Infinity Agency
      </a>
      <br/>
     </p>
    </div>
    <!-- col -->
    <div class="col-md-8 fade-up no-display">
     <h3>
      Drop Us A Message
     </h3>
     <br/>
     <br/>
     <div id="message">
     </div>
     <form action="sendemail.php" id="contactform" method="post">
      <input id="name" name="name" placeholder="Name" type="text"/>
      <input id="email" name="email" placeholder="Email" type="text"/>
      <input id="website" name="website" placeholder="Website" type="text"/>
      <textarea id="comments" name="comments" placeholder="Comments"></textarea>
      <input class="btn btn-outlined btn-primary" name="submit" type="submit" value="Submit"/>
     </form>
    </div>
    <!-- col -->
   </div>
   <!-- row -->
   <div class="gap">
   </div>
  </div>
 </section>
</div>

    <!--FOOTER-->

{% include 'footer.html' %}


	<script src="{{ url_for('static', filename='impact/js/nivo-lightbox.min.js') }}"></script>

	<script type="text/javascript">
    $('#portfolio a').nivoLightbox({
        effect: 'fall',
    });
    </script>
    <script src="{{ url_for('static', filename='impact/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='impact/js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ url_for('static', filename='impact/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='impact/js/init.js') }}"></script>

{% endblock %}

