{% extends "layout_main.html" %}

{% block title %}
Blog VBDPUP creat post | Blog creat new post
{% endblock %}

{% block content %}
{% include 'modal_upload.html' %}

<div id="content-wrapper" style="margin-top: 50px;">
            <section id="" class="white">
    <div class="container">
         {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <table class="table table-hover">
            <tr>
                <td width="256px"><img src="{{ user.avatar(256) }}">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploading">Upload photo</button>
                </td>
                <td>
                    <h1>{{ _('User') }}: {{ user.username }}</h1>
                    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                    {% if user.last_seen %}
                    <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                    {% endif %}
                    <p>{{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}</p>
                    {% if user == current_user %}
                    <p><a href="{{ url_for('main.creat_post') }}">{{ _('Creat new post') }}</a></p>
                    {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                    {% else %}
                    <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
            </section>
</div>

{% include 'footer.html' %}
<!-- About Section
    ================================================== -->
    <section id="bsocials">
      <div class="container wow bounceIn" data-wow-delay="0.8s">
        <p>To get the latest update of me and my works</p>
        <p> >> <span class="follow"> Follow Me </span>  &lt;&lt; </p>
        <ol class="social">
          <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li> <!-- Change # with your facebook link -->
          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li> <!-- Change # with your twitter link -->
          <li><a href="#"><i class="fa fa-behance fa-2x"></i></a></li> <!-- Change # with your behance link -->
          <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li> <!-- Change # with your dribbble link -->
          <li><a href="#"><i class="fa fa-flickr fa-2x"></i></a></li> <!-- Change # with your flickr link -->
          <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li> <!-- Change # with your googleplus link -->
          <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li> <!-- Change # with your instagram link -->
        </ol>
      </div>
    </section>
    <div id="footer-nav">  <!-- Copyright notice on the bottom -->
	<span>© 2014 Awesome Phtography. All Rights Reserved.</span>
    </div>

<script src="{{ url_for('static', filename='impact/js/jquery-1.11.0.js') }}"></script>

<script src="{{ url_for('static', filename='impact/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='impact/js/SmoothScroll.js') }}"></script>
<script src="{{bootstrap_find_resource('jquery.easing.min.js', cdn='jquery')}}"></script>

<script src="{{ url_for('static', filename='impact/js/cbpAnimatedHeader.js') }}"></script>
<script src="{{ url_for('static', filename='impact/js/classie.js') }}"></script>
<script src="{{ url_for('static', filename='impact/js/init.js') }}"></script>
<script src="{{ url_for('static', filename='impact/js/contact.js') }}"></script>
<script src="{{ url_for('static', filename='impact/js/main.js') }}"></script>
{% endblock %}
